<header id="header">
  <div class="sitetitle row" style="text-align:center;">
		<a href="<%- config.root %>"><%= config.title %></a>
	</div>
  <div class="row" style="text-align:center;margin-bottom:20px;">
		<span class="icon">
			<a href="mailto:jesslyn.campbell@gmail.com"><img src="/img/email/mail_32x32.png" alt="email" /></a>
		</span>
		<span class="icon">
			<a href="http://github.com/campbeja"><img src="/img/git/github_32x32.png" alt="git" /></a>
		</span>
		<span class="icon">
			<a href="http://plus.google.com/u/0/100388400004290019542/"><img src="/img/gplus/google-plus_32x32.png" alt="gplus" /></a>
		</span>
		<span class="icon">
			<a href="http://twitter.com/SeeJessicaCode"><img src="/img/twitter/twitter_32x32.png" alt="twitter" /></a>
		</span>
		<span class="icon">
			<a href="http://stackoverflow.com/users/418888/jesslyn"><img src="/img/so/stackoverflow_32x32.png" alt="so" /></a>
		</span>
	</div>
</header>
