<!-- Pagination links -->
<div>
  <ul class="pager">
  <% if(page.prev_link) { %>
    <li class="previous"><a href="<%- page.prev_link %>">&larr; Newer</a></li>
  <% } else { %>
    <li class="previous disabled"><a>&larr; Newer</a></li>
  <% } %>
  <span class="page_number" style="padding: 5px 14px;">Page <%- page.current %> of <%- page.total %></span>
  <% if(page.next_link) { %>
    <li class="next"><a href="<%- page.next_link %>">Older &rarr;</a></li>
  <% } else { %>
    <li class="next disabled"><a>Older &rarr;</a></li>
  <% } %>
  </ul>
</div>
